* {
    background-color: #fffff2;
    font-family: Verdana, sans-serif;
}

:root {
    --cell-padding: 20px;
    --border-size: 3px solid;
    --main-height: 650px;
    --bottom-padding: 10px;
}

#header{
    width: 100%;
    height: 90px;
    text-align: center;
    padding-top: 40px;
}

#nav{
    float: left;
    width: 15%;
    height: var(--main-height);
    border-top: var(--border-size);
    padding-top: var(--cell-padding);
    padding-left: var(--cell-padding);
}

#content{
    float: left;
    width: 80%;
    border-top: var(--border-size);
    border-left: var(--border-size);
    padding-left: var(--cell-padding);
    padding-top: var(--cell-padding);
    padding-bottom: var(--cell-padding);
}

.header-text {
    font-weight: bold;
    font-size: 36px;
}

.content-header {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: var(--bottom-padding);
}

.content-section {
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: var(--bottom-padding);
}

.content {
    font-size: 16px;
    padding-bottom: var(--bottom-padding);
}

.image {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#footer{
    clear:both;
    height: 50px;
    width: 100%;
    border-top: var(--border-size);
}

a, a:visited {
    color: blue;
}

table {
    border: 0;
    font-family: Georgia, sans-serif;
}

.arrowed-list {
    list-style-type: "\1F826";
}

.padded-li {
    padding-bottom: var(--bottom-padding);
}

li span {
    padding-left: 5px;
}

.task-outline-1 {
    width: 10px;
}

.task-outline-2 {
    width: 90px;
}

.task-outline-3 {
    width: 30px;
}
