.nav-header {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: var(--bottom-padding);
}

.nav-item {
    font-size: 16px;
    padding-bottom: 5px;
}

#tasks-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.no-selection {
    padding-left: 24px;
}

.selection {
    cursor: pointer;
    user-select: none;
}

.selection::before {
    content: "\1F8A5";
    color: #00000D;
    display: inline-block;
    font-size: 16px;
    margin-right: 4px;
}

.open-selection::before {
    transform: rotate(90deg);
}

.hide-list {
    display: none;
    list-style-type: none;
}

.show-list {
    display: block;
    list-style-type: none;
}
