#table-reference-image-pane {
    float: left;
    width: 60%;
}

#table-reference-content-pane {
    float: left;
    width: 35%;
}

.table-name {
    font-weight: bold;
    font-size: 16px;
    font-family: monospace;
    padding-top: 20px;
    padding-bottom: var(--bottom-padding);
}

.table-info {
    font-size: 14px;
    padding-bottom: var(--cell-padding);
}

.discriminator-values {
    list-style-type: none;
}

.discriminator-value {
    font-family: monospace;
}

code {
    font-size: 14px;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
